::ng-deep .p-togglebutton.p-highlight .p-button-label {
  background: #a3e635 !important;
  color: #09090b;
  font-weight: bold;
}


::ng-deep .p-selectbutton .p-button.p-highlight::before {
  background: rgba(34, 197, 94, 0.16);

}

::ng-deep .p-selectbutton .p-button.p-highlight > .p-button-label {
  color: #a3e635 !important;
  font-weight: bold;
}

::ng-deep .p-selectbutton.status-pagamento-pago .p-button.p-highlight::before {
  background: rgba(34, 197, 94, 0.16);
}

::ng-deep .p-selectbutton.status-pagamento-pago .p-button.p-highlight > .p-button-label {
  color: #a3e635 !important;
  font-weight: bold;
}

::ng-deep .p-selectbutton.status-pagamento-apagar .p-button.p-highlight::before {
  background: rgba(239, 68, 68, 0.16);
}

::ng-deep .p-selectbutton.status-pagamento-apagar .p-button.p-highlight > .p-button-label {
  color: #ef4444 !important;
  font-weight: bold;
}
