<div class="w-full px-7 py-3">

  <div class="grid nested-grid">
    <div class="col-8">
      <div class="grid">

        <p-skeleton *ngIf="!balance.balance" class="col-12" [style]="{'border-radius': '0 1rem 1rem 0'}" id="saldo" width="100%" height="234px" />
        <p-card *ngIf="balance.balance" class="col-12 border-round-sm fadein animation-duration-1000" id="saldo"> 
          <div class="grid grid-nogutter surface-section text-800">
            <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center bg-primary">
              <section>
                <span class="block text-3xl font-bold mb-1">Saldo</span>
                <div class="text-7xl font-bold mb-2" [ngClass]="balance.balance < 0 ? 'text-red-500' : 'text-black-alpha-90'">{{ balance.balance | currency: 'BRL':'symbol':'1.2-2'  }}</div>
                <p class="my-0 line-height-3 text-gray-800">O controle financeiro é a chave para conquistar seus objetivos e alcançar a 
                  liberdade financeira e construa um futuro de sucesso e prosperidade.</p>
              </section>
            </div>
            <div class="col-12 md:col-6 overflow-hidden border-round-right-2xl bg-primary">
              <div class="md:ml-auto block md:h-full" style="background-image: url('dashboard-build.png'); background-size: cover; background-position: center;"></div>
            </div>
          </div>
        </p-card>

        <div class="col-4">
          <p-skeleton *ngIf="!balance.investment" [style]="{'border-radius': '0 1rem 1rem 0'}" width="100%" height="152px" />
           <app-kpi-card *ngIf="balance.investment" class="fadein animation-duration-1000" [valor]="balance.investment" [porcentagem]="1" [transactionType]="TransactionType.INVESTMENT"></app-kpi-card>
        </div>

        <div class="col-4">
          <p-skeleton *ngIf="!balance.deposit" [style]="{'border-radius': '0 1rem 1rem 0'}" width="100%" height="152px" />
           <app-kpi-card *ngIf="balance.deposit" class="fadein animation-duration-1000" [valor]="balance.deposit" [porcentagem]="1" [transactionType]="TransactionType.DEPOSIT"></app-kpi-card>
        </div>

        <div class="col-4">
          <p-skeleton *ngIf="!balance.expense" [style]="{'border-radius': '0 1rem 1rem 0'}" width="100%" height="152px" />
           <app-kpi-card *ngIf="balance.expense" class="fadein animation-duration-1000" [valor]="balance.expense" [porcentagem]="1" [transactionType]="TransactionType.EXPENSE"></app-kpi-card>
        </div>
        
        <p-skeleton *ngIf="!trasanctions" class="col-6 border-round-sm" id="saldo" width="100%" height="476px" />
        <div *ngIf="trasanctions" class="col-6 h-full h-28rem" ngClass="{{ hasData ? 'opacity-100' : 'opacity-30' }}">
          <div class="text-center border-round-sm font-bold h-full">
            <p-card class="card h-full" header="Porcentagem de transações por Tipo">

              <div class="card flex justify-content-center h-full">
                <div class="col-7 h-full h-28rem">

                  <p-chart #chart type="doughnut" [data]="data" [options]="options" />
                  <div class="flex justify-content-center mt-4 gap-6">
                    <div class="flex flex-column">
                      <div
                        class="w-2rem h-2rem font-bold p-tag p-tag-info flex align-items-center justify-content-center p-2 border-round ">
                        <i class="pi pi-chart-line p-2" style="font-size: 1.2rem"></i>
                      </div>
                      <p class="flex align-items-center justify-content-center border-round pt-2"> 
                        {{ ( balance.investment / (balance.deposit + balance.expense + balance.investment)) | percent : '1.1'}}
                      </p>
                    </div>
                    <div class="flex flex-column">
                      <div
                        class="w-2rem h-2rem font-bold p-tag flex align-items-center justify-content-center p-2 border-round">
                        <i class="pi pi-arrow-up-right p-2" style="font-size: 1.2rem"></i>
                      </div>
                      <p class="flex align-items-center justify-content-center border-round pt-2">
                        {{ (balance.deposit / (balance.deposit + balance.expense + balance.investment) ) | percent : '1.1'}}
                      </p>
                    </div>
                    <div class="flex flex-column">
                      <div
                        class="w-2rem h-2rem font-bold p-tag p-tag-danger flex align-items-center justify-content-center p-2 border-round">
                        <i class="pi pi-arrow-down-right p-2" style="font-size: 1.2rem"></i>
                      </div>
                      <p class="flex align-items-center justify-content-center border-round pt-2">
                        {{ (balance.expense / (balance.deposit + balance.expense + balance.investment) ) | percent : '1.1'}}
                      </p>
                    </div>
                  </div>

                </div>
              </div>

            </p-card>
          </div>
        </div>

        <p-skeleton *ngIf="!transactionsByCaytegory" class="col-6 border-round-sm" id="saldo" width="100%" height="476px" />
        <div *ngIf="transactionsByCaytegory" class="col-6 h-full h-28rem fadein animation-duration-1000" ngClass="{{ hasData ? 'opacity-100' : 'opacity-30' }}">
          <div class="text-center border-round-sm font-bold h-full">
            <p-card class="card h-full" header="Porcentagem de transações por Categoria">

              <div class="card flex justify-content-center h-full">
                <div class="col-7 h-full w-full h-28rem">

                  <ul class="list-none p-0 m-0 fadein animation-duration-1000" *ngFor="let category of transactionsByCaytegory">

                    <li class="my-4">
                      <div class="flex justify-content-between w-full">
                        <p class="text-sm font-bold mb-1">{{ getTransactionCategoryLabel(category.category) | uppercase}}</p>
                        <p class="text-sm font-bold mb-1">{{ category.total | currency: 'BRL':'symbol':'1.2-2' }}</p>
                      </div>
                      <div>
                      <p-progressBar value="{{ category.percent }}" />  
                      </div>
                    </li>
                  
                  </ul>

                </div>
              </div>

            </p-card>
          </div>
        </div>

      </div>
    </div>

    <div class="col-4" ngClass="{{ hasData ? 'opacity-100' : 'opacity-30' }}">
      <p-skeleton *ngIf="!trasanctions" class="col-6 p-0 border-round-sm" id="saldo" width="100%" height="890px" />
      
      <div *ngIf="trasanctions" class="text-center  border-round-sm h-full font-bold fadein animation-duration-1000">

        <p-card class="card h-full" header="Últimas transações">  

          <p-button (onClick)="newTransaction()" icon="pi pi-plus" iconPos="right" ></p-button>


          <div class="card flex justify-content-center">

            <div class="col-12">
              <div class="card h-full">

                <ul class="list-none p-0 m-0" *ngFor="let transaction of trasanctions">

                  <li class="flex align-items-center p-3 border-bottom-1 surface-border">
                    <div
                      class="w-2rem h-2rem font-bold p-tag flex align-items-center justify-content-center p-2 border-round mr-3"
                      [ngClass]="getStyleClass(transaction.type)"
                      pTooltip="{{ getLabel(transaction.paymentMethod.name) }}">
                      <i class="pi p-2" [ngClass]="getIcons(transaction.paymentMethod.name)"
                        style="font-size: 1.2rem"></i>
                    </div>

                    <div class="flex flex-column align-items-start">
                      <span class="text-lg mb-1"> {{ transaction.name }} </span>
                      <span class="text-sm font-light text-300">05/23/2022</span>
                    </div>
                    <span class="ml-auto" [ngClass]="getStyleClass(transaction.type)">R$ {{ transaction.amount | currency: 'BRL':'symbol':'1.2-2'}}</span>
                  </li>

                </ul>
              </div>
            </div>

          </div>

        </p-card>

      </div>
    </div>
  </div>

</div>