<div class="w-full px-6 pb-2 pt-1 border-bottom-1 border-green-900" id="teste" >
  <p-toolbar [style]="{ border: '0', 'background-color': 'transparent' }">
    <ng-template pTemplate="start">
      <div class="p-toolbar-group-left">
        <img src="logof.png" alt="Logo" height="40" />
      </div>

      <p-tabMenu
        class="ml-6"
        [model]="menuItens"
        [activeItem]="activeItem"
        (activeItemChange)="onActiveItemChange($event)"
      />
    </ng-template>

    <ng-template pTemplate="end">
      <div class="p-toolbar-group-rigth" >
        <p-avatar
          image="https://yt3.ggpht.com/yti/ANjgQV9mdzQjj4eLaRgoBpRo0-i-R69f0Kv-Wn9MQbRAZ8Kxi5mZ=s88-c-k-c0x00ffffff-no-rj"
          styleClass="mr-2"
          size="large"
          shape="circle"
        />
      </div>
      <div
        class="card flex justify-content-center mr-4"
        
      >
        <span class="text-primary">Olá Carlos Reis!</span>
      </div>

      <div class="card flex justify-content-center">
        <p-menu #menu [model]="menuProfile" [popup]="true"> </p-menu>
        <p-button
          (onClick)="menu.toggle($event)"
          icon="pi pi-ellipsis-v"
          outlined="true"
        />
      </div>
    </ng-template>
  </p-toolbar>
</div>

<router-outlet></router-outlet>
<p-toast position="top-center"/>